<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/common/dashboard.css}">
  <link rel="stylesheet" th:href="@{/css/common/example.css}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
  <title>SNS家計簿</title>
</head>

<body>
  <!-- ヘッド/インクルード化しているので、編集する際はheader.htmlから -->
  <div th:insert="common/head :: frag_head"></div>

  <div class="container-fluid">
    <div class="row">
      <!-- サイドバー/インクルード化しているので、編集する際はsidebar.htmlから -->
      <div th:insert="common/sidebar :: frag_menu"></div>
      <!-- コンテンツの表示 -->
      <div layout:fragment="content"></div>
    </div>
  </div>

  <!-- 個別JS -->
  <div layout:fragment="javascript"></div>

</body>

</html>
