<div th:fragment="postList">
  <div th:each="post : ${postList}">
    <!-- <div th:text="投稿者： + ${post.user.name}"></div> -->
    <div th:text="内容： + ${post.contents}"></div>
    <div th:text="投稿日： + ${#temporals.format(post.insertAt, 'yyyy年MM月dd日HH時mm分ss秒')}"></div>
    <form th:action="@{/like/mark}" method="post" th:object="${likeForm}">
      <input type="hidden" name="boardId" th:value="${boardId}">
      <input type="hidden" name="postId" th:value="${post.id}">
      <button type="submit"><i class="fa-solid fa-trash"></i></button>
    </form>
    <form th:action="@{/like/remove}" method="post" th:object="${likeForm}">
      <input type="hidden" name="boardId" th:value="${boardId}">
      <input type="hidden" name="postId" th:value="${post.id}">
      <button type="submit"><i class="fa-solid fa-trash"></i></button>
    </form>

    <hr>
  </div>
</div>
