<div th:fragment="postList">
  <div th:each="post : ${postList}">
    <!-- <div th:text="投稿者： + ${post.user.name}"></div> -->
    <div th:text="内容： + ${post.contents}"></div>
    <div th:text="投稿日： + ${#temporals.format(post.insertAt, 'yyyy年MM月dd日HH時mm分ss秒')}"></div>

    <div id="count" th:text="いいね数： + ${post.likes}"></div>

    <form th:action="@{/like/mark}" method="post">
      <input type="hidden" name="boardId" th:value="${boardId}" id="board_id">
      <input type="hidden" name="postId" th:value="${post.id}" id="post_id">
      <input type="hidden" name="userId" th:value=${session.user.id} id="user_id">
      <button id="iine" type="submit">いいね</button>
    </form>

    <form th:action="@{/like/remove}" method="post" th:object="${likeForm}">
      <input type="hidden" name="boardId" th:value="${boardId}">
      <input type="hidden" name="postId" th:value="${post.id}">
      <input type="hidden" name="userId" th:value=${session.user.id}>
      <button type="submit">いいねを取り消す</button>
    </form>

    <hr>
  </div>
</div>
