<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>家計簿一覧</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common/dashboard.css}">
<link rel="stylesheet" th:href="@{/css/common/example.css}">
<link rel="stylesheet" th:href="@{/css/kakeibo/income-and-expenditure-balance.css}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
</head>
<body>
    <!-- ヘッド/インクルード化しているので、編集する際はheader.htmlから -->
    <div th:insert="common/head :: frag_head"></div>
    
    <div class="container-fluid">
        <div class="row">
            <!-- サイドバー/インクルード化しているので、編集する際はsidebar.htmlから -->
            <div th:insert="common/sidebar :: frag_menu"></div>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>収支内訳</h2>
                </div>

                <!-- テーブル表示 -->
                <div th:if="${totalByIncomeAndExpenditureBreakdownList}">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                        <div class="table-responsive">
                            <table class="table-striped table-sm balance-table">
                                <thead>
                                    <tr>
                                        <th>項目</th>
                                        <th>金額</th>
                                        <th>割合</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="breakdown : ${totalByIncomeAndExpenditureBreakdownList}" class="align-middle">
                                        <td th:text="${breakdown.expenseItem.expenseItemName}"></td>
                                        <td th:text="${#numbers.formatInteger(breakdown.totalByExpenseItem, 3, 'COMMA')} + '円'"></td>
                                        <td th:text="${breakdown.incomeAndExpenditureBreakedownRate} + '%'"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
