<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>家計簿</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common/dashboard.css}">
<link rel="stylesheet" th:href="@{/css/common/example.css}">
<link rel="stylesheet" th:href="@{/css/kakeibo/fullCalendar.css}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css">
</head>
<body>
    <!-- ヘッド/インクルード化しているので、編集する際はheader.htmlから -->
    <div th:insert="common/head :: frag_head"></div>
    
    <div class="container-fluid">
        <div class="row">
            <!-- サイドバー/インクルード化しているので、編集する際はsidebar.htmlから -->
            <div th:insert="common/sidebar :: frag_menu"></div>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="calendar" id="calendar"></div>
            </main>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
<script th:src="@{/js/calendar/calendar.js}"></script>
</body>
</html>
