<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>家計簿</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common/dashboard.css}">
<link rel="stylesheet" th:href="@{/css/common/example.css}">
<link rel="stylesheet" th:href="@{/css/kakeibo/transition.css}">
<link rel="stylesheet" th:href="@{/css/kakeibo/aggregate.css}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
</head>
<body>
    <!-- ヘッド/インクルード化しているので、編集する際はheader.htmlから -->
    <div th:insert="common/head :: frag_head"></div>
    
    <div class="container-fluid">
        <div class="row">
            <!-- サイドバー/インクルード化しているので、編集する際はsidebar.htmlから -->
            <div th:insert="common/sidebar :: frag_menu"></div>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>支出・収入推移</h2>
                </div>
                <!-- 支出・収入推移グラフ -->
                <canvas class="my-4 w-100" id="bar-chart" width="900" height="380"></canvas>

                <!-- 収支計算ボックス -->
                <table class="table-striped table-sm calculated-box">
                    <tr>
                        <th>日付</th>
                        <th></th>
                        <th>収入金額</th>
                        <th></th>
                        <th>支出金額</th>
                        <th></th>
                        <th>収支</th>
                    </tr>
                    <tr th:each="monthlyBalanceCalculationResult : ${monthlyBalanceCalculationResultList}">
                        <td>
                            <div class="date" th:text="${monthlyBalanceCalculationResult.date}"></div>
                        </td>
                        <td></td>
                        <td>
                            <div class="totalIncomeAmountList" th:if="${monthlyBalanceCalculationResult.totalIncomeAmount} >= 1000" th:text="${#numbers.formatInteger(monthlyBalanceCalculationResult.totalIncomeAmount, '3', 'COMMA') + '円'}"></div>
                            <div class="totalIncomeAmountList" th:unless="${monthlyBalanceCalculationResult.totalIncomeAmount} >= 1000" th:text="${monthlyBalanceCalculationResult.totalIncomeAmount + '円'}"></div>
                        </td>
                        <td>ー</td>
                        <td>
                            <div class="totalExpenditureAmountList" th:if="${monthlyBalanceCalculationResult.totalExpenditureAmount} >= 1000"  th:text="${#numbers.formatInteger(monthlyBalanceCalculationResult.totalExpenditureAmount, '3', 'COMMA') + '円'}"></div>
                            <div class="totalExpenditureAmountList" th:unless="${monthlyBalanceCalculationResult.totalExpenditureAmount} >= 1000"  th:text="${monthlyBalanceCalculationResult.totalExpenditureAmount + '円'}"></div>
                        </td>
                        <td>＝</td>
                        <td>
                            <div th:text="${#numbers.formatInteger(monthlyBalanceCalculationResult.balanceCalculationResult, '3', 'COMMA') + '円'}"></div>
                        </td>
                    </tr>
                    <tr th:each="monthlyBalance : ${monthlyBalanceCalculationResult}">
                        <td>年内収支</td>
                        <td></td>
                        <td>
                            <div th:if="${monthlyBalance.totalIncomeAmount} >= 1000" th:text="${#numbers.formatInteger(monthlyBalance.totalIncomeAmount, '3', 'COMMA') + '円'}"></div>
                            <div th:unless="${monthlyBalance.totalIncomeAmount} >= 1000" th:text="${monthlyBalance.totalIncomeAmount + '円'}"></div>
                        </td>
                        <td>ー</td>
                        <td>
                            <div th:if="${monthlyBalance.totalExpenditureAmount} >= 1000"  th:text="${#numbers.formatInteger(monthlyBalance.totalExpenditureAmount, '3', 'COMMA') + '円'}"></div>
                            <div th:unless="${monthlyBalance.totalExpenditureAmount} >= 1000"  th:text="${monthlyBalance.totalExpenditureAmount + '円'}"></div>
                        </td>
                        <td>＝</td>
                        <td>
                            <div th:text="${#numbers.formatInteger(monthlyBalance.balanceCalculationResult, '3', 'COMMA') + '円'}"></div>
                        </td>
                    </tr>
                </table>
            </main>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script th:src="@{/chart/bar.js}"></script>
</body>
</html>
