<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>家計簿</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common/dashboard.css}">
<link rel="stylesheet" th:href="@{/css/common/example.css}">
<link rel="stylesheet" th:href="@{/css/common/transition.css}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
</head>
<body>
    <!-- ヘッド/インクルード化しているので、編集する際はheader.htmlから -->
    <div th:insert="common/head :: frag_head"></div>
    
    <div class="container-fluid">
        <div class="row">
            <!-- サイドバー/インクルード化しているので、編集する際はsidebar.htmlから -->
            <div th:insert="common/sidebar :: frag_menu"></div>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <!-- 家計簿推移棒グラフ -->
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>家計簿推移</h2>
                </div>
                <canvas class="my-4 w-100" id="bar-chart" width="900" height="380"></canvas>
            </main>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script th:src="@{/chart/bar.js}"></script>
</body>
</html>
