<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.repository.kakeibo.KakeiboMapper">
 	
 	<!-- 家計簿一覧表示 -->
 	<select id="findAll" resultMap="kakeiboResultMap">
 		SELECT
			k.id,
			k.user_id,
			k.settlement_date,
			k.expense_item_id,
			ei.expense_item_name,
			k.expenditure_amount,
			k.income_amount,
			k.settlement_id,
			s.settlement_name,
			k.used_store,
			k.remarks,
			k.insert_at,
			k.update_at,
			k.is_deleted
		FROM kakeibo AS k
		INNER JOIN
			expense_item as ei
		ON
			k.expense_item_id = ei.id
		LEFT JOIN
			settlement as s
		ON
			k.settlement_id = s.id
		WHERE
			k.is_deleted = false
		ORDER BY
			k.settlement_date DESC,
			k.update_at DESC;
 	</select>
 	
 	<!-- 家計簿1件のデータを取得(編集用) -->
 	<select id="findByKakeiboId" resultMap="kakeiboResultMap">
 		SELECT
			k.id,
			k.user_id,
			k.settlement_date,
			k.expense_item_id,
			ei.expense_item_name,
			k.expenditure_amount,
			k.income_amount,
			k.settlement_id,
			s.settlement_name,
			k.used_store,
			k.remarks,
			k.insert_at,
			k.update_at
		FROM kakeibo AS k
		INNER JOIN
			expense_item as ei
		ON
			k.expense_item_id = ei.id
		LEFT JOIN
			settlement as s
		ON
			k.settlement_id = s.id
		WHERE
			k.id = #{id};
 	</select>
 	
 	<!-- 家計簿情報取得用のresultMap -->
 	<resultMap id="kakeiboResultMap" type="com.example.domain.kakeibo.Kakeibo">
 		<id property="id" column="id"/>
 		<result property="userId" column="user_id"/>
 		<result property="settlementDate" column="settlement_date"/>
 		<result property="expenseItemId" column="expense_item_id"/>
 		<result property="expenditureAmount" column="expenditure_amount"/>
 		<result property="incomeAmount" column="income_amount"/>
 		<result property="settlementId" column="settlement_id"/>
 		<result property="usedStore" column="used_store"/>
 		<result property="remarks" column="remarks"/>
 		<result property="insertAt" column="insert_at"/>
 		<result property="updateAt" column="update_at"/>
 		<result property="isDeleted" column="is_deleted"/>
 		<association property="expenseItem" resultMap="expenseItemResultMap"/>
 		<association property="settlement" resultMap="settlementResultMap"/>
 	</resultMap>
 	
 	<resultMap id="expenseItemResultMap" type="com.example.domain.kakeibo.ExpenseItem">
 		<result property="id" column="id"/>
 		<result property="expenseItemName" column="expense_item_name"/>
 	</resultMap>
 	
 	<resultMap id="settlementResultMap" type="com.example.domain.kakeibo.Settlement">
 		<result property="id" column="id"/>
 		<result property="settlementName" column="settlement_name"/>
 	</resultMap>
 	
 	
 	<!-- 家計簿新規登録 -->
 	<insert id="save">
 		INSERT INTO kakeibo
 			(user_id, settlement_date, expense_item_id, expenditure_amount, income_amount, settlement_id, used_store, remarks)
 		VALUES
 			(#{userId}, #{settlementDate}, #{expenseItemId}, #{expenditureAmount}, #{incomeAmount}, #{settlementId}, #{usedStore}, #{remarks})
 	</insert>
 	
 	
 	<!-- 家計簿編集用 -->
 	<update id="update">
 	UPDATE kakeibo SET
 		settlement_date = #{settlementDate}, expense_item_id = #{expenseItemId}, expenditure_amount = #{expenditureAmount}, income_amount = #{incomeAmount}, settlement_id = #{settlementId}, used_store = #{usedStore}, remarks = #{remarks}
 	WHERE
 		id = #{id}
 	</update>
 	
 	
 	<!-- 家計簿論理削除 -->
 	<update id="updateIsDelete">
 		UPDATE kakeibo SET 
 			is_deleted = #{isDeleted}
 		WHERE 
 			id = #{id}
 	</update>
 	<insert id="delete">
 		INSERT INTO kakeibo_delete_at
 			(kakeibo_id)
 		VALUES
 			(#{kakeiboId})
 	</insert>
 	
 	
 	<!-- 収支内訳算出 -->
 	
 	
 	<!-- 月別集計検索 -->
 	<select id="findByYearAndMonth" resultMap="kakeiboResultMap">
 		SELECT
			k.id,
			k.user_id,
			k.settlement_date,
			k.expense_item_id,
			ei.expense_item_name,
			k.expenditure_amount,
			k.income_amount,
			k.settlement_id,
			s.settlement_name,
			k.used_store,
			k.remarks,
			k.insert_at
		FROM kakeibo AS k
		INNER JOIN
			expense_item as ei
		ON
			k.expense_item_id = ei.id
		LEFT JOIN
			settlement as s
		ON
			k.settlement_id = s.id
		<where>
			k.is_deleted = false
			and TO_CHAR(k.settlement_date, 'YYYY') LIKE '${year}'
			<if test="year != null and month != null">
				and TO_CHAR(k.settlement_date, 'YYYY-MM') LIKE '${year}-%${month}%'
			</if>
		</where>
		ORDER BY
			k.settlement_date DESC,
			k.update_at DESC;
 	</select>
 	
 	
 	<!-- 月別収支計算 -->
 	<select id="monthlyBalanceCalculate" resultMap="BalanceCalculationResultMap">
 		SELECT
			SUM(income_amount) AS total_income_amount,
			SUM(expenditure_amount) AS total_expenditure_amount,
			(SUM(income_amount) - SUM(expenditure_amount)) AS balance_calculation_result
		FROM kakeibo
		<where>
			is_deleted = false
			and TO_CHAR(settlement_date, 'YYYY') LIKE '${year}'
			<if test="year != null and month != null">
				and TO_CHAR(settlement_date, 'YYYY-MM') LIKE '${year}-%${month}%'
			</if>
		</where>
 	</select>
 	
 	<resultMap id="BalanceCalculationResultMap" type="com.example.domain.kakeibo.MonthlyBalanceCalculationResult">
 		<result property="TotalIncomeAmount" column="total_income_amount"/>
 		<result property="TotalExpenditureAmount" column="total_expenditure_amount"/>
 		<result property="BalanceCalculationResult" column="balance_calculation_result"/>
 	</resultMap>
 </mapper>