<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layout}">

<head>
  <meta charset="UTF-8" th:remove="tag">
  <!-- タイトルを入力 -->
  <title>投稿一覧</title>
  <!-- 個別CSS -->
</head>

<body>
  <!-- 個別コンテンツ -->
  <th:block layout:fragment="content">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>投稿一覧</h2>
      </div>
      <!-- 投稿リストの呼び出し -->
      <div th:replace="common/postList :: postList"></div>
    </main>
  </th:block>

</body>

</html>
