@charset "UTF-8";

#balance-table{
border: 2px #aaa solid;
width: 500px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

#balance_circle{
margin-left: auto;
margin-right: auto;
}

.parent-flex{
	display: flex;
}

.date-box{
font-size: 20px;
text-align: center;
margin-bottom: 20px;
}