<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.like.LikeMapper">

	<!-- いいねする(すでにいいねしている場合はinsertの処理は行われるがなにも登録されない) -->
	<insert id="markLike">
		INSERT INTO likes (user_id, post_id)
		SELECT #{user.id}, #{post.id} 
		WHERE NOT EXISTS 
		(SELECT 1 FROM likes WHERE user_id = #{user.id} AND post_id = #{post.id})
	</insert>
	
	<!-- いいねを取り消す -->
	<delete id="removeLike">
		DELETE FROM likes 
		WHERE post_id = #{post.id}
		AND user_id = #{user.id}
	</delete>

	<!-- LikeResultMap -->
	<resultMap id="likeResultMap"
		type="com.example.domain.like.Like" autoMapping="true">
		<result property="insertAt" column="insert_at" />
		<association property="user" resultMap="userMap" />
		<association property="post" resultMap="userMap" />
	</resultMap>

	<!-- UserResultMap -->
	<resultMap id="userMap" type="com.example.domain.user.User"
		autoMapping="true">
		<result property="id" column="user_id" />
	</resultMap>

	<!-- PostResultMap -->
	<resultMap id="postMap" type="com.example.domain.post.Post"
		autoMapping="true">
		<result property="id" column="post_id" />
	</resultMap>


</mapper>